page-cocktail-expand {
    .details-wrap{background:#272727; color: #fff; padding: 10px}
    .details-wrap p{font-size: 11px}
    .details-wrap h6{margin-bottom: 20px; font-size: 13px}
    .details-wrap h6 span, .details-wrap p span{float: right}
    .cocktail-image img{width:280px; margin:0 auto; display: block}
}
