page-product-details {
    .receipe-image{
        width:100%;
         img{
             border-radius: 4px;
             border:2px solid #4a4a4a;
         }
    }
    h4{background: #323232; padding: 7px 0; margin-bottom:20px}
    p{color:#fff; margin:5px 0}
}
